[submodule "Oxide/vendor/glfw"]
	path = Oxide/vendor/glfw
	url = https://github.com/TheCherno/glfw.git
[submodule "Oxide/vendor/spdlog"]
	path = Oxide/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
